@use "sass:map";
@use "../../styles/variables" as variables;


.button.fill {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
}

.base-button {
    border-radius: variables.$border-radius;
    padding: variables.$spacing * 2 variables.$spacing * 4;
    border: none;
    font-size: variables.$font-size;
    transition: background-color variables.$fast-transition ease-out;
    cursor: pointer;
}

@each $name, $config in variables.$colors {
    @debug map.get($config, "primary");
    .button.#{$name} {
        @extend .base-button;
        background-color: map.get($config, "primary");
        color: map.get($config, "textColor");
    }
    .button.#{$name}:hover {
        background-color: map.get($config, "secondary");
        color: map.get($config, "textColor");
    }
    .button.#{$name}:disabled {
        cursor: not-allowed;
        background-color: variables.makeDisabled($color: map.get($config, "secondary")); 
        color: variables.makeDisabled($color: map.get($config, "textColor"));
    }

    .button.contained.#{$name} {
        @extend .base-button;
        background-color: transparent;
        color: map.get($config, "primary");
        box-shadow: 0 0 0 2px map.get($config, "primary") inset;
    }
    .button.contained.#{$name}:hover {
        background-color: map.get($config, "primary");
        color: map.get($config, "textColor");
    }
    .button.contained.#{$name}:disabled {
        cursor: not-allowed;
        background-color: transparent;
        color: variables.makeDisabled($color: map.get($config, "primary"));
    }

    .button.text.#{$name} {
        @extend .base-button;
        background-color: transparent;
        color: map.get($config, "primary");
    }
    .button.text.#{$name}:hover {
        background-color:rgba(0, 0, 0, 0.1);
    }
    .button.text.#{$name}:disabled {
        cursor: not-allowed;
        background-color: transparent;
        color: variables.makeDisabled($color: map.get($config, "primary"));
    }
}
